/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role="toolbar"] {
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0, 0.85);
}

[role="toolbar"] p {
  color: #fff;
  padding-left: 1rem;
  line-height: 3rem;
  margin: 0;
  font-size: 1.2rem;
}
